template(name="addressInput")
	.form-group
		input.form-control(type='text', placeholder='Address Line 1', name='address', data-bind='value:address.street')
	.form-group
		input.form-control(type='text', placeholder='Address Line 2', name='address2', data-bind='value:address.street2')
	.form-group
		input.form-control(type='text', placeholder='City', name='city', data-bind='value:address.city')
	.form-group
		.row
			.col-md-2
				input.form-control(type='text', placeholder='State', name='state', data-bind='value:address.state')
			.col-md-2
				input.form-control(type='text', placeholder='Post Code', name='zip', data-bind='value:address.zip')
	.form-group
		select#country.form-control(name='country', placeholder='country', data-bind='value:address.country')
			option(value='AR') Argentina
			option(value='AU') Australia
			option(value='AT') Austria
			option(value='BY') Belarus
			option(value='BE') Belgium
			option(value='BA') Bosnia and Herzegovina
			option(value='BR') Brazil
			option(value='BG') Bulgaria
			option(value='CA') Canada
			option(value='CL') Chile
			option(value='CN') China
			option(value='CO') Colombia
			option(value='CR') Costa Rica
			option(value='HR') Croatia
			option(value='CU') Cuba
			option(value='CY') Cyprus
			option(value='CZ') Czech Republic
			option(value='DK') Denmark
			option(value='DO') Dominican Republic
			option(value='EG') Egypt
			option(value='EE') Estonia
			option(value='FI') Finland
			option(value='FR') France
			option(value='GE') Georgia
			option(value='DE') Germany
			option(value='GI') Gibraltar
			option(value='GR') Greece
			option(value='HK') Hong Kong S.A.R., China
			option(value='HU') Hungary
			option(value='IS') Iceland
			option(value='IN') India
			option(value='ID') Indonesia
			option(value='IR') Iran
			option(value='IQ') Iraq
			option(value='IE') Ireland
			option(value='IL') Israel
			option(value='IT') Italy
			option(value='JM') Jamaica
			option(value='JP') Japan
			option(value='KZ') Kazakhstan
			option(value='KW') Kuwait
			option(value='KG') Kyrgyzstan
			option(value='LA') Laos
			option(value='LV') Latvia
			option(value='LB') Lebanon
			option(value='LT') Lithuania
			option(value='LU') Luxembourg
			option(value='MK') Macedonia
			option(value='MY') Malaysia
			option(value='MT') Malta
			option(value='MX') Mexico
			option(value='MD') Moldova
			option(value='MC') Monaco
			option(value='ME') Montenegro
			option(value='MA') Morocco
			option(value='NL') Netherlands
			option(value='NZ') New Zealand
			option(value='NI') Nicaragua
			option(value='KP') North Korea
			option(value='NO') Norway
			option(value='PK') Pakistan
			option(value='PS') Palestinian Territory
			option(value='PE') Peru
			option(value='PH') Philippines
			option(value='PL') Poland
			option(value='PT') Portugal
			option(value='PR') Puerto Rico
			option(value='QA') Qatar
			option(value='RO') Romania
			option(value='RU') Russia
			option(value='SA') Saudi Arabia
			option(value='RS') Serbia
			option(value='SG') Singapore
			option(value='SK') Slovakia
			option(value='SI') Slovenia
			option(value='ZA') South Africa
			option(value='KR') South Korea
			option(value='ES') Spain
			option(value='LK') Sri Lanka
			option(value='SE') Sweden
			option(value='CH') Switzerland
			option(value='TW') Taiwan
			option(value='TH') Thailand
			option(value='TN') Tunisia
			option(value='TR') Turkey
			option(value='UA') Ukraine
			option(value='AE') United Arab Emirates
			option(value='GB') United Kingdom
			option(value='US', selected='selected') USA
			option(value='UZ') Uzbekistan
			option(value='VN') Vietnam