template(name="productsShow")
	div.container
		div.row
			div.col-md-6
				img(src="/images/products/{{image}}", alt="")
			div.col-md-6
				h1 {{name}}
				p 
					a(href="") Vendor
				p.lead
					i {{summary}}
				p.lead {{{markdown description}}}
		div.row
			div.col-md-12
				h3 {{money price}}
				hr 
				p 
					a#add-to-cart.btn.btn-success(href="")
						i.glyphicon.glyphicon-shopping-cart Add To Cart