template(name="productsShow")
	div.container
		div.row
			div.col-md-6
				img(src="", alt="")
			div.col-md-6
				h1 Product One
				p 
					a(href="") Vendor
				p.lead
					i Summary
				p.lead Description
		div.row
			div.col-md-12
				h3 Price
				hr 
				p 
					a#add-to-cart.btn.btn-success(href="")
						i.glyphicon.glyphicon-shopping-cart Add To glyphicon-shopping-cart